@font-face {
	font-family: PTS55F;
	src: url(/media/fonts/PTS55F.ttf);
	}
body{
	margin:0px;
	margin:auto;
	background-color:white;
}
a {
	text-decoration:none;
	color:#484848;
	}
h1,h2,h3,h4,h6,p,span {
	font-family:"PTS55F"
	}
div.header {
	width:100%;
	height:50px;
	margin:auto;
	background-color:#323031;
	}
div.header div#big_block {
	width:960px;
	height:50px;
	margin:auto;
	}
div.header div#big_block div#left_block {
	height:50px;
	position:relative;
	float:left;
	width:355px;
	}
div.header div#big_block div#left_block p {
	color:#cecbcb;
	width:330px;
	}
div.header div#big_block div#left_block p span{
	font-style:italic;
	color:#c82e30;
	position:relative;
	left:10px;
	}
div.header div#big_block div#left_block div {
	position:relative;
	height:10px;
	width:10px;
	background-color:#c82e30;
	border-radius:50%;
	float:right;
	margin:0px;
	top:23px;
	right:45px;
	box-shadow:0px 0px 18px 3px #c82e30;
	}
div.header div#big_block div#left_block i {
	color:#c82e30;
	margin-left:2px;
	}
div.header div#big_block div#right_block {
	height:50px;
	position:relative;
	float:right;
	top:13px;
	margin:0px;
	}
div.header div#big_block div#right_block input {
	width:150px;
	height:25px;
	background-color:#454545;
	border:none;
	color:#a4a4a4;
	border-radius:25px;
	padding-left:10px;
	margin-right:70px;
	outline:none;
	}
div.header div#big_block div#right_block div {
	height:13px;
	width:13px;
	position:relative;
	bottom:22px;
	left:140px;
	margin:0px;

	}
div.header div#big_block div#right_block div img {
	width:13px;
	height:13px;
	}
div.header div#big_block div#right_block div#sixterenka {
	height:13px;
	width:13px;
	position:relative;
	bottom:35px;
	left:170px;
	margin:0px;
	}
div.header div#big_block div#right_block div#sixterenka img {
	width:18px;
	height:18px;
		margin:0px;
	}
div.header2 {
	width:960px;
	height:130px;
	margin:auto;
	position:relative;
	margin-bottom:0px;
	}
div.header2 div#logo {
	width:550px;
	width:570px;
	height:60px;
	position:relative;
	top:25px;
	}
div.header2 div#logo div#play {
	width:46px;
	height:50px;
	position:relative;
	margin:0px;
	float:left;
	top:5px;
	}
div.header2 div#logo div#text {
	width:476px;
	height:33px;
	position:relative;
	margin:0px;
	margin-left:60px;
	top:15px;
	}
div.header2 div#menu p{
	font-weight:bold;
	font-size:14px;
	}
div.header2 div#menu {
	width:300px;
	height:75px;
	position:relative;
	float:right;
	top:20px;
	}
div.header2 div#menu div#catalog {
	position:relative;
	float:left;
	height:30px;
	width:85px;
	}
div.header2 div#menu div#events {
	position:relative;
	float:left;
	height:30px;
	width:85px;
	}
div.header2 div#menu div#user {
	position:relative;
	float:left;
	height:40px;
	width:100px;
	}
div.header2 div#menu div#user img {
	height:45px;
	position:relative;
	left:60px;
	bottom:47px;
	margin:0px;
	}
div.block3 {
	width:960px;
	height:350px;
	background-image:url(/media/background.jpg);
	margin:auto;
	border-top:1px solid #e5e5e5;
	background-size:30px 30px;
	background-repeat:repeat;

	}
div.block3 div#left_block {
	width:490px;
	height:300px;
	position:relative;
	float:left;
	margin:10px;
	margin-top:15px;
	overflow:hidden;
	}
div.block3 div#left_block div#play {
	position:absolute;
	width:29px;
	height:32px;
	left:230px;
	top:130px;
	background-image:url(/media/play.png);
	box-shadow:0px 0px 45px 3px #white;
	}
div.block3 div#left_block div#play:hover {
	position:absolute;
	width:29px;
	height:32px;
	left:230px;
	top:130px;
	background-image:url(/media/play_active.gif);
	box-shadow:0px 0px 45px 3px #white;
	cursor:pointer;
	}
div.block3 div#right_block {
	height:350px;
	width:350px;
	position:relative;
	float:right;
	margin-right:60px;
	}
div.block3 div#right_block h1 {
	font-size:40px;
	font-weight:normal;
	color:#484848;
	}
div.block3 div#right_block p {
	position:relative;
	left:30px;
	}
div.block3 div#right_block div {
	width:130px;
	height:40px;
	background-color:#7fb509;
	position:relative;
	float:right;
	border-radius:4px;
	margin-right:15px;
	top:15px;
	}
div.block3 div#right_block div p {
	color:white;
	font-size:15px;
	font-weight:bold;
	left:13px;
	bottom:3px;
	}
div.block4 {
	width:960px;
	height:auto;
	position:relative;
	margin:auto;
	
	}
div.block4 div#block4_upper{
	width:960px;
	height:120px;
	}
div.block4 div#left_block {
	position:relative;
	float:left;
	width:300PX;
	}
div.block4 div#left_block h2 {7
	font-size:24px;
	margin-top:50px;
	font-weight:normal;
	color:#484848;
	}
div.block4 div#right_block {
	position:relative;
	float:right;
	}
div.block4 div#right_block p {
	font-size:15px;
	margin-top:80px;
	font-weight:normal;
	color:#06967b;
	text-decoration:underline;
	}
div.block4 div.full_stream {
	width:960px;
	position:relative;
	margin:auto;
	height:275px;
	padding:0px;
	margin:0px;
	margin-bottom:3px;
	}
div.block4 div.full_stream div#date {
	height:275px;
	width:60px;
	position:relative;
	float:left;
	margin:0px;
	}
div.block4 div.full_stream div#date p{	
	font-size:16px;
	font-weight:bold;
	text-align:center;
	margin:0px;
	margin-top:10px;
	}
div.block4 div.full_stream div#date p#time {
	font-size:15px;
	text-align:center;
	font-weight:normal;
	margin:0px;
	margin-top:3px;
	}
div.block4 div.full_stream div#cover {
	height:100%;
	width:220px;
	margin-left:61px;
	margin-right:0px;
	}
div.block4 div.full_stream div#discription {
	height:100%;
	position:relative;
	float:right;
	width:682px;
	background-color:#e5e5e5;
	margin:0px;
	}
div.block4 div.full_stream div#discription div#image {
	width:50px;
	height:100%;
	position:relative;
	float:left;
	top:30px;
	left:35px;
	}
div.block4 div.full_stream div#discription > p {
	font-size:16px;
	font-weight:bold;
	position:relative;
	top:30px;
	left:55px;
	margin:0px;
	}
div.block4 div.full_stream div#discription p#name {
	font-size:13px;
	font-weight:normal;
	margin:0px;
	color:#06967b;
	text-decoration:underline;
	position:relative;
	top:33px;
	}
div.block4 div.full_stream div#discription p#text {
	font-size:12px;
	max-width:590px;
	position:relative;
	font-weight:normal;
	margin-top:15px;
	}
div.block4 div.full_stream div#discription a p#more {
	font-size:15px;
	font-weight:normal;
	margin:0px;
	color:#06967b;
	text-decoration:underline;
	width:200px;
	position:relative;
	left:510px;
	top:90px;
	}
div.block4 div.short_stream {
	width:960px;
	position:relative;
	margin:auto;
	height:98px;
	margin:0px;
	padding:0px;
	margin-bottom:2px;
	}
div.block4 div.short_stream div#date {
	height:100%;
	width:60px;
	position:relative;
	float:left;
	margin:0px;

	}
div.block4 div.short_stream div#date p{	
	font-size:16px;
	font-weight:bold;
	text-align:center;
	margin:0px;
	margin-top:10px;
	}
div.block4 div.short_stream div#date p#time {
	font-size:15px;
	text-align:center;
	font-weight:normal;
	margin:0px;
	margin-top:3px;
	}
div.block4 div.short_stream div#cover {
	height:100%;
	width:220px;
	margin-left:61px;
	margin-right:0px;
	opacity:0.75;
	}
div.block4 div.short_stream div#discription {
	height:100%;
	position:relative;
	float:right;
	width:682px;
	background-color:#e5e5e5;
	margin:0px;
	}
div.block4 div.short_stream div#discription div#image {
	width:50px;
	height:50px;
	position:relative;
	float:left;
	top:30px;
	left:35px;
	border-radius:50%;
	overflow:hidden;
	}
div.block4 div.short_stream div#discription p {
	font-size:16px;
	font-weight:bold;
	position:relative;
	top:30px;
	left:55px;
	margin:0px;
	}
div.block4 div.short_stream div#discription p#name {
	font-size:13px;
	font-weight:normal;
	margin:0px;
	color:#06967b;
	text-decoration:underline;
	position:relative;
	top:33px;
	}
div.block4 div#button {
	width:150px;
	height:30px;
	position:relative;
	margin:auto;
	border:1px solid #b5b5b5;
	background-color:white;
	border-radius:4px;
	top:20px;
	box-shadow:none;
	}
div.block4 div#button:hover {
	width:150px;
	height:30px;
	position:relative;
	margin:auto;
	border:1px solid white;
	background-color:#b5b5b5;
	border-radius:4px;
	top:20px;
	box-shadow:none;
	cursor:pointer;
	}
div.block4 div#button:hover p{
	text-align:center;
	position:relative;
	bottom:12px;
	color:white;
	
	}
	
div.block4 div#button p {
	text-align:center;
	position:relative;
	bottom:12px;
	}

div.block4 p#events {
	text-align:center;
	font-size:11px;
	position:relative;
	top:10px;
	left:2px;
	}
div.block5 {
	width:960px;
	height:1200px;
	position:relative;
	margin:auto;
	margin-top:40px;
	}
div.block5 div#title {
	width:960px;
	height:70px;
	position:relative;
	float:left;
	top:30px;
	}
div.block5 div#title h2{
	font-size:24px;
	font-weight:normal;
	margin:0px;
	margin-left:30px;
	color:#03957b;
	}
div.block5 div#title img {
	heigth:20x;
	width:20px;
	position:relative;
	float:left;
	margin-top:7px;
	}
div.block5 div#left_block {
	width:400px;
	height:30px;
	position:relative;
	float:left;
	top:15px;
	}
div.block5 div#left_block div {
	height:35px;
	width:auto;
	position:relative;
	float:left;
	margin-left:5px;
	}
div.block5 div#left_block p {
	font-size:12px;
	font-weight:normal;
	margin:0px;
	margin-left:8px;
	margin-top:5px;
	border-bottom:2px dashed black;
	position:relative;
	}
div.block5 div#right_block {
	width:400px;
	height:30px;
	position:relative;
	float:right;
	margin-right:25px;
	top:15px;
	}
div.block5 div#right_block div {
	height:35px;
	width:auto;
	position:relative;
	float:right;
	margin-left:5px;
	}
div.block5 div#right_block p {
	font-size:12px;
	font-weight:normal;
	margin:0px;
	margin-left:8px;
	margin-top:5px;
	border-bottom:2px dashed #03957b;
	position:relative;
	color:#03957b;
	}
div.block5 div#left_item {
	width:309px;
	position:relative;
	float:left;
	height:299px;
	border-radius:4px;
	margin-right:4px;
	margin-top:33px;
	background-color:#e2e2e2;
	}
div.block5 div#left_item:hover {
	width:310px;
	border:1px solid #e2e2e2;
	position:relative;
	float:left;
	height:300px;
	border-radius:4px;
	border:1px solid #e2e2e2;
	margin-right:4px;
	margin-top:30px;
	background-color:white;
	
	}
div.block5 div#left_item p {
	font-size:13px;
	margin:0px;
	margin-left:8px;
	margin-top:10px;
	}
div.block5 div#left_item p#date {
	font-size:12px;
	margin:0px;
	}
div.block5 div#left_item image {
	width:305px;
	}
div.block5 div#left_item div#play {
	position:absolute;
	top:95px;
	left:135px;
	width:29px;
	height:32px;
	background-image:url(/media/play.png);
	box-shadow:0px 0px 45px 3px #white;
	}
div.block5 div#left_item div#play:hover {
	position:absolute;
	top:95px;
	left:135px;
	width:29px;
	height:32px;
	background-image:url(/media/play_active.gif);
	}
div.block5 div#left_item div#rating_date {
	width:310px;
	height:20px;
	position:relative;
	margin:0px;
	margin-top:2px;

	}
div.block5 div#left_item div#rating_date div#rating {
	position:relative;
	float:right;
	width:120px;
	height:25px;
	margin-bottom:0px;
	}
div.block5 div#left_item div#rating_date div#rating img.viewer {
	margin:0px;
	margin-left:1px;
	margin-right:4px;
	opacity:0.6;
	}
div.block5 div#left_item div#rating_date div#date {
	position:relative;
	float:left;
	width:130px;
	height:25px;
	margin:0px;
	margin-left:10px;
	}
div.block5 div#left_item p#name {
	font-size:13px;
	font-weight:normal;
	margin:0px;
	margin-left:8px;
	margin-top:5px;
	text-decoration:underline;
	position:relative;
	}
div.block5 div#left_item div#timing {
	height:20px;
	width:60px;
	position:absolute;
	top:170px;
	left:250px;
	}
div.block5 div#left_item div#timing p#timing{
	font-size:12px;
	color:white;
	opacity:0.9;
	}
div.block5 div#left_item p#views {
	font-size:11px;
	font-weight:normal;
	margin:0px;
	color:grey;
	position:relative;
	margin-left:8px;
	margin-top:20px;
	}
div.block5 div#button {
	width:150px;
	height:30px;
	position:relative;
	margin:auto;
	border:1px solid #b5b5b5;
	background-color:white;
	border-radius:4px;
	clear:both;
	top:30px;
	cursor:pointer;
	}
div.block5 div#button:hover {
	width:150px;
	height:30px;
	position:relative;
	margin:auto;
	border:1px solid white;
	background-color:#b5b5b5;
	border-radius:4px;
	clear:both;
	top:30px;
	cursor:pointer;
	}
div.block5 div#button p {
	text-align:center;
	position:relative;
	bottom:12px;
	}
div.block5 div#button:hover p {
	text-align:center;
	position:relative;
	bottom:12px;
	color:white;
	}
div.block5 p#events {
	text-align:center;
	position:relative;
	top:22px;
	left:1px;
	font-size:11px;
	}