<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
	<head>
		<link rel="stylesheet" href="/media/css/main.css"> </link>
	</head>
	<body>
		<div class="header">
			<div id="big_block">
				<div id="right_block">
					<input value="Поиск"></input>
					<a href=""><div><img src="/media/search.png"></img></div></a>
					<a href=""><div id="sixterenka"><img src="/media/sixterenka.gif"></div></a>
				</div>
				<div id="left_block">
					<div></div><p>Идет трансляция: "Свадебный стрим" <span> live</span></p> 
				</div>
			</div>
			
		</div>
		<div class="header2">
			<div id="menu">
				<div id="events"><a href=""><p>СОБЫТИЯ</p></a></div>
				<div id="catalog"><a href="/store"><p>КАТАЛОГ</p></a></div>
				<div id="user"><a href=""><p>BLOKH</p></a><img src="/media/face.png"></img></div>
			</div>
			<div id="logo"><div id="play"><img src="/media/logo1.jpg"></div> <div id="text"><img src="/media/logo2.jpg"></div></div>	
			</div>
		<div class="block3">
			<div id="left_block">
				<div id="play"></div>
				<img src="/media/video.jpg"></img>
				<div id="play"></div>
			</div>
			<div id="right_block">
				<h1>Начни учиться прямо сейчас!</h1>
				<p>Смотри бесплатно обучающие онлайн трансляции</p>
				<P> Покупай избранное и создавай собственную базу знаний</P>
				<a href=""><div>
					<p> РЕГИСТРАЦИЯ </p>
				</div></a>
			</div>
		</div>
		<div class="block4">
			<div id="block4_upper">
				<div id="left_block">
					<h2>Ближайшие стримы</h2>
				</div>
				<div id="right_block">
					<a href=""><p>Полное расписание</p></a>
				</div>
			</div>

			<div class="full_stream">
				<div id="date"><p>25 марта</p><p id="time">19:00</p></div>
				<div id="discription">
					<div id="image"><image src="/media/face.png"></image></div>
					<p>Свадебный стрим</p>
					<p id="name">Валентих Блох</p>
					<p id="text">И вот самый любимый нами Валерий Олух ведет "Свадебный стрим".
					Это будет очень необычный стрим с необычной локацией. Так что вперед на регистрацию, очень будем ждать вас в онлайне с вашими вопросами и хорошим настроением.
					Это будет очень необычный стрим с необычной локацией. Так что вперед на регистрацию, очень будем ждать вас в онлайне с вашими вопросами и хорошим настроением</p>
					<a href=""><p id="more">Подробнее</p></a>
				</div>
				<div id="cover"><img src="/media/stream1.jpg"></img></div>
				
			</div>
			<div class="short_stream">
				<div id="date"><p>28 марта</p><p id="time">19:00</p></div>
				<div id="discription">
					<div id="image"><image src="/media/face3.jpg"></image></div>
					<p>Смешанный свет и wow эффект</p>
					<p id="name">Александр Крофт</p>
				</div>
				<div id="cover"><img src="/media/stream2.jpg"></img></div>
			</div>
						<div class="short_stream">
				<div id="date"><p>28 марта</p><p id="time">19:00</p></div>
				<div id="discription">
					<div id="image"><image src="/media/face2.jpg"></image></div>
					<p>Смешанный свет и wow эффект</p>
					<p id="name">Александр Крофт</p>
				</div>
				<div id="cover"><img src="/media/stream3.jpg"></img></div>
			</div>
						<div class="short_stream">
				<div id="date"><p>28 марта</p><p id="time">19:00</p></div>
				<div id="discription">
					<div id="image"><image src="/media/face.png"></image></div>
					<p>Смешанный свет и wow эффект</p>
					<p id="name">Александр Крофт</p>
				</div>
				<div id="cover"><img src="/media/stream4.jpg"></img></div>
			</div>
						<div class="short_stream">
				<div id="date"><p>28 марта</p><p id="time">19:00</p></div>
				<div id="discription">
					<div id="image"><image src="/media/face4.jpg"></image></div>
					<p>Смешанный свет и wow эффект</p>
					<p id="name">Александр Крофт</p>
				</div>
				<div id="cover"><img src="/media/stream5.jpg"></img></div>
			</div>

			<div id="button"><p>Загрузить еще</p></div>
			<p id="events">Всего 258 событий</p>
		</div>
		<div class="block5">
			<div id="title">
				<img src="/media/bigstar.gif">
				<h2>Магазин</h2>
			</div>
			<div id="right_block">
				<div><p>Бесплатные</p></div>
				<div><p>Платные</p></div>
			</div>
			<div id="left_block">
				<div><p>Фото и видео</p></div>
				<div><p>Бизнес и маркетинг</p></div>
				<div><p>Арт и дизайн</p></div>
			</div>
			<div id="left_item">
				 <div id="rating_date">
					<div id="rating">
						<p id="date">(102) <img class="viewer" src="/media/viewer.gif">  <img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img></p>
						
					</div>
					<div id="date">
						<p id="date">25 марта 2014</p>
					</div>
				</div>
				<a href=""><div id="play"></div></a>
				<img src="/media/item1.jpg" />
				<div id="timing"><p id="timing">00:15:01</p></div>
				<p>Imaginative Fashion Photography</p>
				<a href=""><p id="name">Rachel Burke</p></a>
				<p id="views">25,555 views</p>
				
			</div>
			<div id="left_item">
				<div id="rating_date">
					<div id="rating">
						<p id="date">(102) <img class="viewer" src="/media/viewer.gif">  <img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img></p>
						
					</div>
					<div id="date">
						<p id="date">25 марта 2014</p>
					</div>
				</div>
				<a href=""><div id="play"></div></a>
				<image src="/media/item2.jpg">
				<div id="timing"><p id="timing">00:15:01</p></div>
				<p>Imaginative Fashion Photography</p>
				<a href=""><p id="name">Rachel Burke</p></a>
				<p id="views">25,555 views</p>
			</div>
			<div id="left_item">
				<div id="rating_date">
					<div id="rating">
						<p id="date">(102) <img class="viewer" src="/media/viewer.gif">  <img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img></p>
						
					</div>
					<div id="date">
						<p id="date">25 марта 2014</p>
					</div>
				</div>
				<a href=""><div id="play"></div></a>
				<image src="/media/item3.jpg">
				<div id="timing"><p id="timing">00:15:01</p></div>
				<p>Imaginative Fashion Photography</p>
				<a href=""><p id="name">Rachel Burke</p></a>
				<p id="views">25,555 views</p>
			</div>
			<div id="left_item">
				<div id="rating_date">
					<div id="rating">
						<p id="date">(102) <img class="viewer" src="/media/viewer.gif">  <img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img></p>
						
					</div>
					<div id="date">
						<p id="date">25 марта 2014</p>
					</div>
				</div>
				<a href=""><div id="play"></div></a>
				<image src="/media/item4.jpg">
				<div id="timing"><p id="timing">00:15:01</p></div>
				<p>Imaginative Fashion Photography</p>
				<a href=""><p id="name">Rachel Burke</p></a>
				<p id="views">25,555 views</p>
			</div>
			<div id="left_item">
				<div id="rating_date">
					<div id="rating">
						<p id="date">(102) <img class="viewer" src="/media/viewer.gif">  <img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img></p>
						
					</div>
					<div id="date">
						<p id="date">25 марта 2014</p>
					</div>
				</div>
				<a href=""><div id="play"></div></a>
				<image src="/media/item5.jpg"></image>
				<div id="timing"><p id="timing">00:15:01</p></div>
				<p>Imaginative Fashion Photography</p>
				<p id="name">Rachel Burke</p>
				<p id="views">25,555 views</p>
			</div>
			<div id="left_item">
				<div id="rating_date">
					<div id="rating">
						<p id="date">(102) <img class="viewer" src="/media/viewer.gif">  <img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img></p>
						
					</div>
					<div id="date">
						<p id="date">25 марта 2014</p>
					</div>
				</div>
				<a href=""><div id="play"></div></a>
				<image src="/media/item2.jpg"></image>
				<div id="timing"><p id="timing">00:15:01</p></div>
				<p>Imaginative Fashion Photography</p>
				<a href=""><p id="name">Rachel Burke</p></a>
				<p id="views">25,555 views</p>
			</div>
			<div id="left_item">
				<div id="rating_date">
					<div id="rating">
						<p id="date">(102) <img class="viewer" src="/media/viewer.gif">  <img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img></p>
						
					</div>
					<div id="date">
						<p id="date">25 марта 2014</p>
					</div>
				</div>
				<a href=""><div id="play"></div></a>
				<image src="/media/item1.jpg"></image>
				<div id="timing"><p id="timing">00:15:01</p></div>
				<p>Imaginative Fashion Photography</p>
				<a href=""><p id="name">Rachel Burke</p></a>
				<p id="views">25,555 views</p>
			</div>
			<div id="left_item">
				<div id="rating_date">
					<div id="rating">
						<p id="date">(102) <img class="viewer" src="/media/viewer.gif">  <img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img></p>
						
					</div>
					<div id="date">
						<p id="date">25 марта 2014</p>
					</div>
				</div>
				<a href=""><div id="play"></div></a>
				<image src="/media/item3.jpg"></image>
				<div id="timing"><p id="timing">00:15:01</p></div>
				<p>Imaginative Fashion Photography</p>
				<p id="name">Rachel Burke</p>
				<p id="views">25,555 views</p>
			</div>
			<div id="left_item">
				<div id="rating_date">
					<div id="rating">
						<p id="date">(102) <img class="viewer" src="/media/viewer.gif">  <img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img>
						<img src="/media/star.png"></img></p>
						
					</div>
					<div id="date">
						<p id="date">25 марта 2014</p>
					</div>
				</div>
				<a href=""><div id="play"></div></a>
				<image src="/media/item4.jpg"></image>
				<div id="timing"><p id="timing">00:15:01</p></div>
				<p>Imaginative Fashion Photography</p>
				<a href=""><p id="name">Rachel Burke</p></a>
				<p id="views">25,555 views</p>
			</div>
			<div id="button"><p>Загрузить еще</p></div>
			<p id="events">Всего 258 событий</p>

		</div>
		
		
	</body>


</html>