<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
	<head>
		<link rel="stylesheet" href="/media/css/store.css"> </link>
	</head>
	<body>
		<div class="header">
			<div id="big_block">
				<div id="right_block">
					<input value="Поиск"></input>
					<a href=""><div><img src="/media/search.png"></img></div></a>
					<a href=""><div id="sixterenka"><img src="/media/sixterenka.gif"></div></a>
				</div>
				<div id="left_block">
					<div></div><p>Идет трансляция: "Свадебный стрим" <span> live</span></p> 
				</div>
			</div>
			
		</div>
		<div class="header2">
			<div id="menu">
				<div id="events"><a href=""><p>СОБЫТИЯ</p></a></div>
				<div id="catalog"><a href="/store"><p>КАТАЛОГ</p></a></div>
				<div id="user"><a href=""><p>BLOKH</p></a><img src="/media/face.png"></img></div>
			</div>
			<div id="logo"><div id="play"><img src="/media/logo1.jpg"></div> <div id="text"><img src="/media/logo2.jpg"></div></div>	
		</div>
		<div class="block4">
			<div id="menu">
				<div id="search_block">
					<input value="Поиск"></input>
					<div>
						<img src="/media/search.png"/>
					</div>
				</div>
				
				<div id="big">
					<div class="element"><img id="photo" src="/media/photo.gif"/><p> Фото и видео</p></div>
					<div class="element"><img id="photo" src="/media/design.gif"/><p> Арт и дизайн</p></div>
					<div class="element"><img id="photo" src="/media/business.gif"/><p> Бизнес и маркетинг</p></div>
				</div>
				<div id="categorys">
					<p>All</p>
					<p>Business</p>
					<p>Portraits</p>
					<p>Software</p>
					<p>Wedding</p>
					<p>Lighting</p>
					<p>Hardware</p>
					<p>Cameras</p>
					<p>Post-processing</p>
					<p>Adobe</p>
					<p>Workflow</p>
					<p>Photoshop</p>
					<p>Children</p>
					<p>Studio</p>
					<p>Baby</p>
				</div>
				<div class="element"><img id="photo" src="/media/top.gif"/><p> Топ</p></div>
				<div id="teachers">
					<p>Полина Саламатова</p>
					<p>Александр Максименко</p>
					<p>Эвелина Гриц</p>
					<p>Ярослав Кудрик</p>
					<p>Олег Федосеев</p>
					<p>Аня Федорова</p>
					<p>Лия Ригорьева</p>
					<p>Дарья Андреева</p>
					<p>Лилия Маркова</p>
					<p>Ксения Сизая</p>
				</div>
			</div>
			<div id="items">
				<div id="left_item">
					 <div id="rating_date">
						<div id="date">
							<p id="date">111,544 <img class="viewer" src="/media/view.gif"></img></p>	
						</div>
						<div id="rating">
						</div>
					</div>
					
					<img src="/media/item1.jpg" />
					<a href=""><div id="play"></div></a>
					<div id="timing"><p id="timing">00:15:01</p></div>
					<p>Imaginative Fashion Photography</p>
					<a href=""><p id="name">Rachel Burke</p></a>
					<p id="views">900P</p>
				
				</div>
				<div id="left_item">
					 <div id="rating_date">
						<div id="date">
							<p id="date">111,544 <img class="viewer" src="/media/view.gif"></img></p>	
						</div>
						<div id="rating">
						</div>
					</div>
					
					<img src="/media/item2.jpg" />
					<a href=""><div id="play"></div></a>
					<div id="timing"><p id="timing">00:15:01</p></div>
					<p>Imaginative Fashion Photography</p>
					<a href=""><p id="name">Rachel Burke</p></a>
					<p id="views">900P</p>
				
				</div>
				<div id="left_item">
					 <div id="rating_date">
						<div id="date">
							<p id="date">111,544 <img class="viewer" src="/media/view.gif"></img></p>	
						</div>
						<div id="rating">
						</div>
					</div>
					
					<img src="/media/item3.jpg" />
					<a href=""><div id="play"></div></a>
					<div id="timing"><p id="timing">00:15:01</p></div>
					<p>Imaginative Fashion Photography</p>
					<a href=""><p id="name">Rachel Burke</p></a>
					<p id="views">900P</p>
				
				</div>
				<div id="left_item">
					 <div id="rating_date">
						<div id="date">
							<p id="date">111,544 <img class="viewer" src="/media/view.gif"></img></p>	
						</div>
						<div id="rating">
						</div>
					</div>
					
					<img src="/media/item4.jpg" />
					<a href=""><div id="play"></div></a>
					<div id="timing"><p id="timing">00:15:01</p></div>
					<p>Imaginative Fashion Photography</p>
					<a href=""><p id="name">Rachel Burke</p></a>
					<p id="views">900P</p>
				
				</div>
				<div id="left_item">
					 <div id="rating_date">
						<div id="date">
							<p id="date">111,544 <img class="viewer" src="/media/view.gif"></img></p>	
						</div>
						<div id="rating">
						</div>
					</div>
					
					<img src="/media/item5.jpg" />
					<a href=""><div id="play"></div></a>
					<div id="timing"><p id="timing">00:15:01</p></div>
					<p>Imaginative Fashion Photography</p>
					<a href=""><p id="name">Rachel Burke</p></a>
					<p id="views">900P</p>
				
				</div>
				<div id="left_item">
					 <div id="rating_date">
						<div id="date">
							<p id="date">111,544 <img class="viewer" src="/media/view.gif"></img></p>	
						</div>
						<div id="rating">
						</div>
					</div>
					
					<img src="/media/item3.jpg" />
					<a href=""><div id="play"></div></a>
					<div id="timing"><p id="timing">00:15:01</p></div>
					<p>Imaginative Fashion Photography</p>
					<a href=""><p id="name">Rachel Burke</p></a>
					<p id="views">900P</p>
				
				</div>
				<div id="left_item">
					 <div id="rating_date">
						<div id="date">
							<p id="date">111,544 <img class="viewer" src="/media/view.gif"></img></p>	
						</div>
						<div id="rating">
						</div>
					</div>
					
					<img src="/media/item1.jpg" />
					<a href=""><div id="play"></div></a>
					<div id="timing"><p id="timing">00:15:01</p></div>
					<p>Imaginative Fashion Photography</p>
					<a href=""><p id="name">Rachel Burke</p></a>
					<p id="views">900P</p>
				
				</div>
				<div id="left_item">
					 <div id="rating_date">
						<div id="date">
							<p id="date">111,544 <img class="viewer" src="/media/view.gif"></img></p>	
						</div>
						<div id="rating">
						</div>
					</div>
					
					<img src="/media/item3.jpg" />
					<a href=""><div id="play"></div></a>
					<div id="timing"><p id="timing">00:15:01</p></div>
					<p>Imaginative Fashion Photography</p>
					<a href=""><p id="name">Rachel Burke</p></a>
					<p id="views">900P</p>
				
				</div>
				<div id="left_item">
					 <div id="rating_date">
						<div id="date">
							<p id="date">111,544 <img class="viewer" src="/media/view.gif"></img></p>	
						</div>
						<div id="rating">
						</div>
					</div>
					
					<img src="/media/item2.jpg" />
					<a href=""><div id="play"></div></a>
					<div id="timing"><p id="timing">00:15:01</p></div>
					<p>Imaginative Fashion Photography</p>
					<a href=""><p id="name">Rachel Burke</p></a>
					<p id="views">900P</p>
				
				</div>
				<div id="left_item">
					 <div id="rating_date">
						<div id="date">
							<p id="date">111,544 <img class="viewer" src="/media/view.gif"></img></p>	
						</div>
						<div id="rating">
						</div>
					</div>
					
					<img src="/media/item5.jpg" />
					<a href=""><div id="play"></div></a>
					<div id="timing"><p id="timing">00:15:01</p></div>
					<p>Imaginative Fashion Photography</p>
					<a href=""><p id="name">Rachel Burke</p></a>
					<p id="views">900P</p>
				
				</div>
				<div id="left_item">
					 <div id="rating_date">
						<div id="date">
							<p id="date">111,544 <img class="viewer" src="/media/view.gif"></img></p>	
						</div>
						<div id="rating">
						</div>
					</div>
					
					<img src="/media/item2.jpg" />
					<a href=""><div id="play"></div></a>
					<div id="timing"><p id="timing">00:15:01</p></div>
					<p>Imaginative Fashion Photography</p>
					<a href=""><p id="name">Rachel Burke</p></a>
					<p id="views">900P</p>
				
				</div>
				<div id="left_item">
					 <div id="rating_date">
						<div id="date">
							<p id="date">111,544 <img class="viewer" src="/media/view.gif"></img></p>	
						</div>
						<div id="rating">
						</div>
					</div>
					
					<img src="/media/item1.jpg" />
					<a href=""><div id="play"></div></a>
					<div id="timing"><p id="timing">00:15:01</p></div>
					<p>Imaginative Fashion Photography</p>
					<a href=""><p id="name">Rachel Burke</p></a>
					<p id="views">900P</p>
				
				</div>
			</div>
		</div>	
		
	</body>


</html>